<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">

    <!-- Appenders -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>%d %5p [%c] %m%n</Pattern>
        </encoder>
    </appender>

    <appender name="console-infolog" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>%d %5p %m%n</Pattern>
        </encoder>
    </appender>

    <!-- Logger -->
    <logger name="com.gradle" level="WARN" appender-ref="console" />
    <logger name="jdbc.sqlonly" level="WARN" appender-ref="console-infolog" />
    <logger name="jdbc.resultsettable" level="WARN" appender-ref="console-infolog" />

    <!-- 질의문 예쁘게 보기 -->
    <logger name="org.hibernate.SQL" level="INFO" />
    <!-- 질의문 파라미터 보기 -->
    <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="TRACE" />
    <!-- 질의 결과 보기 -->
    <logger name="org.hibernate.type.descriptor.sql.BasicExtractor" level="TRACE" />
    <!-- Root Logger -->
    <root level="off">
        <appender-ref ref="console" />
    </root>
</configuration>