<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gradle.springboot.image.dao.ImageRepository">

    <select id="selectGalleryAuthList" resultType="com.gradle.springboot.image.vo.ImageDto">
        SELECT * FROM gallery;
    </select>

    <select id="selectGallerySeq" resultType="int">
    /* 갤러리 seq 생성 */
    SELECT IFNULL(MAX(S1.GALLERY_SEQ), 0) + 1 AS GALLERY_SEQ FROM GALLERY S1
	</select>

    <insert id="insertGallery" parameterType="com.gradle.springboot.image.vo.ImageDto">
    /* 갤러리 추가*/
INSERT
        INTO GALLERY
        (
            GALLERY_SEQ,
            AUTHOR,
            TYPE,
            DEL_YN,
            REG_DATE,
            TAG,
            LANG,
            VIEW_CNT,
            LIKE_CNT
        )
        VALUES
            (
              #{gallery_seq}
            , #{author}
            , 0
            , 'N'
            , #{reg_date}
            , #{tag}
            , #{lang}
            , 0
            , 0
            )
    </insert>

    <insert id="insertGalleryDetail" parameterType="com.gradle.springboot.image.vo.ImageDetailDto">
    INSERT
        INTO GALLERY_DETAIL
        (
            GALLERY_SEQ,
            PAGE_SEQ,
            FILE_PATH,
            FILE_NAME,
            FILE_ETC
        )
        VALUES
            (
              #{gallery_seq}
            , #{page_seq}
            , #{file_path}
            , #{file_name}
            , #{file_etc}
            )
    </insert>

    <select id="selectGalleryList" parameterType="java.util.HashMap"  resultType="com.gradle.springboot.image.vo.ImageDetailDto"><![CDATA[
SELECT T.*, ROW_NUMBER() OVER(ORDER BY ${ORDER} ${ORDER_RN}, T.GALLERY_SEQ ASC) AS RN
	FROM (SELECT
	         GL.GALLERY_SEQ
	       , GL.AUTHOR
	       , GL.TYPE
	       , GL.DEL_YN
	       , GL.REG_DATE
	       , GL.TAG
	       , GL.LANG
	       , GL.VIEW_CNT
	       , GL.LIKE_CNT
	       , GD.FILE_PATH
	       , GD.FILE_NAME
	       , (SELECT COUNT(*) FROM GALLERY_DETAIL S1 WHERE S1.GALLERY_SEQ = GL.GALLERY_SEQ) CNT
	FROM     GALLERY GL
	       , GALLERY_DETAIL GD
	WHERE    GL.DEL_YN      = 'N'
	AND      GL.GALLERY_SEQ = GD.GALLERY_SEQ
	AND      GD.PAGE_SEQ    = 1
	]]><if test="SEARCH_KEYWORD != null and SEARCH_KEYWORD !=''">
        AND (
        GL.AUTHOR LIKE '%${SEARCH_KEYWORD}%'
        )
    </if><![CDATA[
	) T
ORDER BY ${ORDER} ${ORDER_FLAG}, T.GALLERY_SEQ DESC
		LIMIT ${PAGE_NUM},${PAGE_SIZE}
	]]></select>


    <select id="getPageList" parameterType="java.util.HashMap"  resultType="com.gradle.springboot.image.vo.ImageDetailDto">
/* 페이지 조회 */
    SELECT T.*, ROW_NUMBER() OVER(ORDER BY ${ORDER} ${ORDER_RN}, T.GALLERY_SEQ ASC) AS RN
        FROM (SELECT
        GL.GALLERY_SEQ
        , GL.AUTHOR
        , GL.TYPE
        , GL.DEL_YN
        , GL.REG_DATE
        , GL.TAG
        , GL.LANG
        , GL.VIEW_CNT
        , GL.LIKE_CNT
        , GD.FILE_PATH
        , GD.FILE_NAME
        , (SELECT COUNT(*) FROM GALLERY_DETAIL S1 WHERE S1.GALLERY_SEQ = GL.GALLERY_SEQ) CNT
        FROM     GALLERY GL
        , GALLERY_DETAIL GD
        WHERE    GL.DEL_YN      = 'N'
        AND      GL.GALLERY_SEQ = GD.GALLERY_SEQ
        AND      GD.PAGE_SEQ    = 0
        <if test="SEARCH_KEYWORD != null and SEARCH_KEYWORD !=''">
        AND (
        GL.AUTHOR LIKE '%${SEARCH_KEYWORD}%'
        )
    </if>
	) T
ORDER BY ${ORDER} ${ORDER_FLAG}, T.GALLERY_SEQ DESC
	</select>

    <select id="selectGalleryDetail" parameterType="java.util.HashMap" resultType="com.gradle.springboot.image.vo.ImageDetailDto">
        SELECT GD.GALLERY_SEQ
             , GD.PAGE_SEQ
             , GD.FILE_PATH
             , GD.FILE_NAME
             , GD.FILE_ETC
        FROM   GALLERY_DETAIL GD
        WHERE GD.GALLERY_SEQ = #{GALLERY_SEQ}
    </select>

    <delete id="deleteGalleryDetail" parameterType="com.gradle.springboot.image.vo.ImageDetailDto">
/* 갤러리 상세 페이지 삭제 */
        DELETE FROM GALLERY_DETAIL WHERE GALLERY_SEQ = #{gallery_seq}
    </delete>

    <delete id="deleteGallery" parameterType="com.gradle.springboot.image.vo.ImageDetailDto">
/* 갤러리 목록 삭제 */
        DELETE FROM GALLERY WHERE GALLERY_SEQ = #{gallery_seq}
    </delete>
</mapper>